@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,345;1,345&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

* {
    --primary-color: #5F634F;
    --primary-dark-color: #9798969a;
    --secondary-color: #E2FADB;
}

.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.heading {
    font-size: 48px;
    color: var(--primary-color);
    font-family: "Montserrat", serif;
    font-weight: 600;
    text-align: center;
}

.inputbox {
    margin: 2em;
    width: 40em;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border: 2px solid var(--primary-color);
    padding: 3em;
    border-radius: 30px;
}

.heading-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
    text-align: center;
}

.Add-list {
    background-color: var(--primary-color);
    padding: 10px;
    color: var(--secondary-color);
    font-family: "Noto Sans", serif;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.Add-list:hover {
    background-color: #4b4e3f;
    transform: scale(1.05) translateY(2px);
}

.rubik-text {
    font-family: "Rubik", serif;
    font-weight: 400;
}

.rubik-light {
    font-family: "Rubik", serif;
    font-weight: 300;
}

.montserrat-subhead {
    font-family: "Montserrat", serif;
    font-weight: 550;
}

@media (max-width: 768px) {
    .heading {
        font-size: 36px;
    }

    .inputbox {
        width: 80%;
        padding: 2em;
    }

    .Add-list {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .heading {
        font-size: 28px;
    }

    .inputbox {
        width: 90%;
        padding: 1.5em;
    }

    .Add-list {
        font-size: 14px;
        padding: 8px;
    }
}
